#content {
  height: calc(100vh - #{$taskbarHeight});
  margin-left: $sidebarWidth + $menubarWidth;
  position: absolute;
  top: $taskbarHeight;
  left: 0;
  width: calc(100% - #{$menubarWidth} - #{$sidebarWidth});
  z-index: 5;
  &.settings-open {
    margin-left: $sidebarWidth + $settingsPanelWidth + $menubarWidth;
    width: calc(100% - #{$menubarWidth} - #{$settingsPanelWidth} - #{$sidebarWidth});
  }
}
#info {
  display: none;
  position: absolute;
  width: calc(100% - #{$menubarWidth} - #{$sidebarWidth});
  bottom: 0;
  right: 0;
  height: $infoHeight;
  background-color: $uiColor2;
  justify-content: space-between;
  z-index: 50;
  &.settings-open {
    width: calc(100% - #{$menubarWidth} - #{$settingsPanelWidth} - #{$sidebarWidth});
  }
  & > div {
    padding: 16px 24px;
  }
  #desc {
    overflow-y: auto;
    h4 {
      font-size: $fontSize;
      margin: 0;
      padding: 0;
      font-weight: normal;
      text-transform: uppercase;
      color: $mutedTextColor;
    }
    #comments {
      em {
        color: $mutedTextColor;
      }
    }
  }
  #status {
    color: $mutedTextColor;
    padding: 10px 0;
    text-align: right;
    text-transform: lowercase;
    .err {
      color: $errorColor;
    }
  }
}