#result {
  overflow: auto;
  width: 100%;
  height: calc(100vh - #{$taskbarHeight} - #{$infoHeight});
  display: none;
  background-color: $uiColor1;
  border-bottom: 1px solid $uiColor1;

  table {
    /* min-width: 100%; */
    thead {
      tr {
        border-bottom: 1px solid $uiColor2;
        th {
          position: relative;
          text-align: left;
          font-weight: normal;
          padding: 8px 10px 8px 10px;
          background-color: $uiColor3;
          border-right: 1px solid $uiColor1;
          &:first-child {
            border-left: 1px solid $uiColor1;
          }
          &:last-child {
            border: none;
          }
          &.sortable {
            padding-right: 33px;
            cursor: pointer;
            &.sort-asc::after {
              content: '';
              position: absolute;
              right: 9px;
              top: 13px;
              width: 0;
              height: 0;
              border-left: 7px solid transparent;
              border-right: 7px solid transparent;
              border-top: 7px solid $uiColor8;
              clear: both;
            }
            &.sort-desc::after {
              content: '';
              position: absolute;
              right: 9px;
              top: 13px;
              width: 0;
              height: 0;
              border-left: 7px solid transparent;
              border-right: 7px solid transparent;
              border-bottom: 7px solid $uiColor8;
              clear: both;
            }
          }
        }
      }
    }
    tbody {
      tr {
        border-bottom: 1px solid $uiColor3;
        td {
          padding: 8px 10px;
          background-color: $uiColor2;
          border-right: 1px solid $uiColor3;
          &:last-child {
            border: none;
          }
        }
      }
    }
  }
}
.datatype-decimal {
  color: $colorResultDecimal;
  white-space: nowrap;
}
.datatype-int {
  color: $colorResultInt;
  white-space: nowrap;
}
.datatype-float {
  color: $colorResultFloat;
  white-space: nowrap;
}
.datatype-enum {
  color: $colorResultEnum;
}
.datatype-string {
  color: $colorResultString;
}
.datatype-json {
  color: $colorResultJson;
}
.datatype-blob {
  color: $colorResultBlob;
}
.datatype-time {
  color: $colorResultTime;
  white-space: nowrap;
}