$uiColor1: #131416;
$uiColor2: #17191c;
$uiColor3: #1c1e21;
$uiColor4: #202327;
$uiColor5: #25272c;
$uiColor6: #292c32;
$uiColor7: #2e3137;
$uiColor8: #32363d;

$uiMutedColor1: #151415;
$uiMutedColor2: #323031;

$white:      #faf3f9;
$lightgrey:  #beaab1;
$darkgrey:   #88777d;
$red:        #dd53de;
$orange:     #dd53b3;
$yellow:     #dd5392;
$green:      #dd5371;
$cyan:       #dd5368;
$blue:       #dd5357;
$purple:     #dd534b;
$darkred:    #bb2c26;

$shinyColor: #fff;

$textColor:      $white;
$mutedTextColor: $lightgrey;
$darkTextColor:  $darkgrey;
$errorColor:     $red;
$accentColor:    $yellow;
$selectColor:    $yellow;
$selectTxtColor: $uiColor1;

$colorKeyword:  $red;
$colorFunction: $yellow;
$colorNumber:   $orange;
$colorString:   $cyan;
$colorSpecial:  $blue;
$colorBracket:  $purple;

$colorResultInt:     $yellow;
$colorResultDecimal: $orange;
$colorResultFloat:   $red;
$colorResultString:  $white;
$colorResultEnum:    $blue;
$colorResultJson:    $darkgrey;
$colorResultBlob:    $lightgrey;
$colorResultTime:    $cyan;

$mainFontFamilies: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
$monospaceFontFamilies: 'Inconsolata', 'Consolas', 'Lucida Console', monospace;

$fontSize: 13px;
$taskbarHeight: 32px;
$menubarWidth: 48px;
$settingsPanelWidth: 250px;
$sidebarWidth: 300px;
$infoHeight: 120px;