$uiColor1: #0e1b1d;
$uiColor2: #132326;
$uiColor3: #182e31;
$uiColor4: #1f3c3f;
$uiColor5: #26484c;
$uiColor6: #2e595c;
$uiColor7: #35656a;
$uiColor8: #3d757a;

$uiMutedColor1: #151c1d;
$uiMutedColor2: #303e3f;

$white:      #fefefe;
$lightgrey:  #859aa0;
$darkgrey:   #3f4f53;
$red:        #ff7b72;
$orange:     #ffa876;
$yellow:     #ffd07a;
$green:      #95cd6f;
$cyan:       #6fcdc5;
$blue:       #84c0f3;
$purple:     #d2a8ff;
$darkred:    #aa2219;

$shinyColor: #fff;

$textColor:      $white;
$mutedTextColor: $lightgrey;
$darkTextColor:  $darkgrey;
$errorColor:     $red;
$accentColor:    $cyan;
$selectColor:    $cyan;
$selectTxtColor: $uiColor1;

$colorKeyword:  $purple;
$colorFunction: $yellow;
$colorNumber:   $red;
$colorString:   $cyan;
$colorSpecial:  $blue;
$colorBracket:  $blue;

$mainFontFamilies: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
$monospaceFontFamilies: 'Inconsolata', 'Consolas', 'Lucida Console', monospace;

$fontSize: 13px;
$taskbarHeight: 32px;
$menubarWidth: 48px;
$settingsPanelWidth: 250px;
$sidebarWidth: 300px;
$infoHeight: 120px;