.theme-choice {
  margin: 10px 0;
  padding: 6px 10px 8px 6px;
  height: 42px;
  position: relative;
  cursor: pointer; }
  .theme-choice > em {
    position: absolute;
    top: 12px;
    left: 0;
    display: block;
    width: 20px;
    height: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%; }
  .theme-choice:hover > em:after {
    content: '';
    position: absolute;
    top: 6px;
    left: 6px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.2); }
  .theme-choice.selected > em:after {
    content: '';
    position: absolute;
    top: 6px;
    left: 6px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.3); }
  .theme-choice > div {
    position: absolute;
    top: 0;
    right: 0;
    width: 185px; }
    .theme-choice > div h3 {
      margin: 0 0 4px 0;
      padding: 0;
      font-size: 14px;
      font-weight: 400; }

.theme {
  height: 20px; }
  .theme span {
    display: inline-block;
    height: 20px;
    width: 20px; }

.theme.default span:nth-child(1) {
  background-color: #131518; }

.theme.default span:nth-child(2) {
  background-color: #191b1f; }

.theme.default span:nth-child(3) {
  background-color: #202328; }

.theme.default span:nth-child(4) {
  background-color: #292d34; }

.theme.default span:nth-child(5) {
  background-color: #32373f; }

.theme.default span:nth-child(6) {
  background-color: #3d434c; }

.theme.default span:nth-child(7) {
  background-color: #464d58; }

.theme.default span:nth-child(8) {
  background-color: #515965; }

.theme.default span:nth-child(9) {
  background-color: #6fcdc5; }

.theme.merbitch span:nth-child(1) {
  background-color: #0e1b1d; }

.theme.merbitch span:nth-child(2) {
  background-color: #132326; }

.theme.merbitch span:nth-child(3) {
  background-color: #182e31; }

.theme.merbitch span:nth-child(4) {
  background-color: #1f3c3f; }

.theme.merbitch span:nth-child(5) {
  background-color: #26484c; }

.theme.merbitch span:nth-child(6) {
  background-color: #2e595c; }

.theme.merbitch span:nth-child(7) {
  background-color: #35656a; }

.theme.merbitch span:nth-child(8) {
  background-color: #3d757a; }

.theme.merbitch span:nth-child(9) {
  background-color: #d2a8ff; }

.theme.github span:nth-child(1) {
  background-color: #0d1117; }

.theme.github span:nth-child(2) {
  background-color: #121923; }

.theme.github span:nth-child(3) {
  background-color: #171e29; }

.theme.github span:nth-child(4) {
  background-color: #1e2835; }

.theme.github span:nth-child(5) {
  background-color: #202c3b; }

.theme.github span:nth-child(6) {
  background-color: #243141; }

.theme.github span:nth-child(7) {
  background-color: #2f455f; }

.theme.github span:nth-child(8) {
  background-color: #334f72; }

.theme.github span:nth-child(9) {
  background-color: #6fcdc5; }
